html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

.font {
    font-family: serif;
    border-bottom: 1px solid #000;
}

body {
    display: flex;
    font-size: 22px;
}